layout {

    focus-ring {
        active-color   "#8cda6b"
        inactive-color "#10150d"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#8cda6b"
        inactive-color "#10150d"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#8cda6b"
        inactive-color "#276f09"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#8cda6b80"
    }
}

recent-windows {
    highlight {
        active-color "#8cda6b"
        urgent-color "#ffb4ab"
    }
}
