layout {

    focus-ring {
        active-color   "#ffb59a"
        inactive-color "#19120f"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb59a"
        inactive-color "#19120f"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb59a"
        inactive-color "#a3583b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb59a80"
    }
}
