layout {

    focus-ring {
        active-color   "#b9c8db"
        inactive-color "#131314"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#b9c8db"
        inactive-color "#131314"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b9c8db"
        inactive-color "#2c3a49"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#b9c8db80"
    }
}
