layout {
    background-color "transparent"

    focus-ring {
        active-color   "#e6c18c"
        inactive-color "#9a8f82"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#e6c18c"
        inactive-color "#9a8f82"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#e6c18c"
        inactive-color "#9a8f82"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#e6c18c80"
    }
}

recent-windows {
    highlight {
        active-color   "#63491f"
        urgent-color   "#ffb4ab"
    }
}