layout {
    background-color "transparent"

    focus-ring {
        active-color   "#d8c595"
        inactive-color "#979083"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#d8c595"
        inactive-color "#979083"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#d8c595"
        inactive-color "#979083"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#d8c59580"
    }
}

recent-windows {
    highlight {
        active-color   "#a08f64"
        urgent-color   "#ffb4ab"
    }
}